

@media screen and (min-width:500px) and (max-width:768px) {
    .images{
        width: 100% !important;
        max-width: 344px !important;
        /* max-width: 200px; */
    }
}
@media screen and (min-width:769px) and (max-width:820px) {
    .images{
        width: 100% !important;
        max-width: 367px !important;
        /* max-width: 200px; */
    }
}
@media screen and (min-width:901px) and (max-width:1280px) {
    .images{
        width: 100% !important;
        max-width: 238px !important;
        /* max-width: 200px; */
    }
}
@media screen and (min-width:1281px) and (max-width:4000px) {
    .images{
        width: 100% !important;
        max-width: 248px !important;
        /* max-width: 200px; */
    }
}
