/* @import url('https://fonts.cdnfonts.com/css/gellix'); */
@font-face {
  font-family: "Gellix";
  src: url("../public/fonts/Gellix-Light/Gellix-Light.ttf");
}
@font-face {
  font-family: "SemiBold";
  src: url("../public/fonts/Gellix-SemiBold/Gellix-SemiBold.ttf");
}
@font-face {
  font-family: "ExterBold";
  src: url("../public/fonts/font/Gellix-Bold.woff");
}
@font-face {
  font-family: "normal";
  src: url("../public/fonts/font/Gellix-Regular.ttf");
}
@font-face {
  font-family: "bold";
  src: url("../public/fonts/font/Gellix-Bold.woff");
}
.exterBold {
  font-family: "ExterBold";
  /* background-color:red; */
}
.SemiBold {
  font-family: "normal";
  /* background-color:red; */
}
.light {
  font-family: "Gellix";
  /* background-color:red; */
}
.bold {
  font-family: "bold";
  /* color: #1B3148!important; */
}
.MuiDrawer-paperAnchorTop {
  position: absolute;
  box-shadow: none;
  top: 64px;
}
.shop {
  position: unset;
}
.categoryList:hover {
  transition: 2s ease-in-out;
}
.hartIcon svg {
  color: #3d5675 !important;
}
/* #country_shipping,
#city_shipping,
#country_billing,
#city_billing,
ul.MuiList-root.MuiList-padding.MuiMenu-list.mui-style-6hp17o-MuiList-root-MuiMenu-list {
  max-height: 50vh;
} */

.mui-style-1uol1ml-MuiInputBase-root-MuiInput-root:hover:not(.Mui-disabled, .Mui-error):before {
  border-bottom: 2px solid #38486f !important ;
}
